/node_modules
/package-lock.json
.gitignore
.browserslistrc
.gitattributes
.prettierignore
/.husky
*.ico
*.png
*.svg
*.csv
/public
/src/static
/src/modes/classic/maps/raw
/src/modes/classic/maps/processed
/src/data/processed
/src/specs/shapefiles
/src/specs/tilegrams
*.generated.json
*.txt
/LICENSE
*.mp4
*.log
*.png
*.jpg
*.toml
*.tgz
*.zip
.eslintcache
