ul.legend-ticks {
  margin: 0;
  padding: 0;
  display: flex;
  font-size: 80%;
}

li.legend-tick {
  margin: 0;
  padding: 0;
  list-style: none;

  flex: 2 2 0;
  min-width: 4.5em;
  height: 1em;
  margin-bottom: 1.2em;
  display: flex;
  flex-direction: column;
  position: relative;
}

li.legend-tick-space {
  margin: 0;
  padding: 0;
  list-style: none;

  flex: 1 1 0;
  min-width: 2.25em;
}

li.legend-tick::after {
  content: attr(title);
  position: absolute;
  top: 100%;
  left: 0;
  transform: translate(-50%, 0);
  text-align: center;
}

li.legend-tick-centered::after {
  transform: unset;
  width: 100%;
  text-align: center;
}
