.roof.invert form {
  position: relative;
  height: unset;
}

.roof.invert > div {
  justify-content: space-between;
}

.roof.invert .wordmark {
}

.viz-menu-button {
  display: none;
  position: absolute;
  right: 0;
  top: 0;
  height: 3em;
  width: 2em;
}

.viz-menu-button > svg {
  width: 100%;
  height: 100%;
  fill: currentColor;
}

.viz-menu {
  line-height: initial;
  display: flex;
}

.viz-menu > a {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.2em 1em;
  font-size: 1.1rem;
}
.viz-menu > a:hover {
  background: rgba(0, 0, 0, 0.2);
}

.viz-name {
  margin: 1em 0;
  padding-top: 0;
  padding-bottom: 0;

  display: flex;
  align-items: flex-end;
  flex-wrap: wrap;

  color: var(--darkgrey);
}

.viz-name > * {
  margin: 0;
  padding: 0;
  font-weight: 500;
}

.viz-name > h1 {
  font-size: 1.9rem;
  padding-right: 0.2em;
}

.viz-name > h1 > a {
  color: var(--red) !important;
  border-bottom: none;
}

.viz-name > h2 {
  color: var(--darkgrey);
  border-left: 1px solid currentColor;
  padding-left: 0.2em;
  font-weight: 500;
  padding-right: 1.5em;
}

.viz-name > h3 {
  font-size: 1rem;
  font-weight: 500;
  margin: 0;
  color: var(--grey);
}

/** mobile **/
@media only screen and (max-width: 767px) {
  .roof.invert form {
    display: none;
  }

  .roof.invert > div {
    padding-bottom: 0;
  }

  .roof div.viz-menu {
    display: none;
    padding-bottom: 0;
  }

  .viz-menu-button.open + .viz-menu {
    display: flex;
  }

  .viz-menu-button {
    display: block;
  }

  .viz-name > h1 {
    font-size: 1.8rem;
  }
  .viz-name > h2 {
    font-size: 1rem;
    padding-right: 0.5em;
    align-self: center;
  }
}

.group-link {
  color: inherit;
  border-bottom: none;
}

.viz-mission {
  padding-top: 0.2em;
  padding-bottom: 0.5em;
  color: var(--darkgrey);
}

.mission-link {
  color: var(--red);
  font-weight: 700;
}

.team-link {
  color: inherit;
  text-decoration: underline;
  border-bottom: none;
  font-weight: 700;
  font-style: italic;
}
