h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0px;
}

.block {
  padding: 10px;
  border: 2px solid rgba(0, 0, 0, 0.2);
  margin: 10px;
  border-radius: 3px;
}

.background {
  fill: none;
  pointer-events: all;
}

#states {
  fill: #aaa;
}

#states .active {
  display: none;
}

#state-borders {
  fill: none;
  stroke: #fff;
  stroke-width: 1.5px;
  stroke-linejoin: round;
  stroke-linecap: round;
  pointer-events: none;
}

.county-boundary {
  fill: #aaa;
  stroke: #fff;
  stroke-width: 0.5px;
}

.county-boundary:hover,
.state:hover {
  fill: red;
}

.line {
  fill: none;
  stroke: red;
  stroke-width: 2px;
}

.inline {
  display: inline-flex;
}

.sensor-button {
  height: 30px;
  margin-left: 20px;
  font-size: 15px;
}

.center {
  align-items: center;
}

.options-group {
  margin-top: 10px;
  align-items: center;
  display: inline-flex;
}

.pure-button-group {
  margin-left: 10px;
}
