.mobile-h2 {
  margin-top: 4px;
  font-weight: 600;
  font-size: 1.5rem;
  line-height: 2rem;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

.mobile-h3 {
  text-align: left;
  margin-top: 4px;
  font-weight: normal;
  font-size: 1rem;
  line-height: 2rem;
  letter-spacing: 5px;
  text-transform: uppercase;
}

.mobile-th {
  text-align: left;
  font-weight: 600;
  font-size: 0.75rem;
  line-height: 1rem;
  text-transform: uppercase;
  vertical-align: top;
}

.mobile-table {
  border-collapse: collapse;
}
.mobile-table > thead > tr {
  border-bottom: 1px solid #f0f1f3;
}
.mobile-table > thead > tr > th {
  padding: 0.75rem 4px;
}
.mobile-table > tbody {
  font-size: 0.875rem;
  line-height: 1.25rem;
}
.mobile-table > tbody > tr > td {
  padding: 0.75rem 4px;
  vertical-align: middle;
}

.mobile-table > tbody > tr:not(:last-of-type) {
  border-bottom: 1px solid #f0f1f3;
}

.mobile-table > .sort-indicator {
  text-align: right;
  background: #fafafc;
}
