:root {
  --red: #c00;
  --grey: #767676;
  --darkgrey: #333;
}

@import './styles/header.css';
@import './styles/embed.css';

@import './styles/ie11.css';

#vizbox {
  font-display: fallback;
  font-family: 'Open Sans', sans-serif;
  margin: 0;
  padding: 0;
  position: relative;
  flex: 1 1 0;
  line-height: 1rem;

  display: flex;
  flex-direction: column;
}

button.mapboxgl-popup-close-button {
  padding: 2px;
  color: var(--grey);
}

#vizbox input:focus,
#vizbox button:focus,
#vizbox select:focus {
  outline: var(--red) 1px solid;
  box-shadow: 0 0 0 4px #fff !important;
  /* border: solid 1px var(--red) !important; */
  z-index: 10000;
  background-color: unset;
}

.mapboxgl-canvas {
  min-height: 550px;
}

.mapboxgl-canvas:focus {
  outline: none;
}

.map-popup {
  z-index: 10000;
}

.map-popup .mapboxgl-popup-content {
  background-color: #fff;
  padding: 5px 5px;
  color: var(--darkgrey);
  border-color: var(--grey);
  border-style: solid;
  border-radius: 4px;
  border-width: 1px;
}

.map-popup .mapboxgl-popup-tip {
  border-width: 4px;
  border-top-color: var(--grey);
}

.map-popup-region-name {
  font-weight: 600;
}

.map-popup-region-value {
  background-color: #767676;

  color: #fff;
  padding: 2px 4px;
}

.mapboxgl-ctrl.mapboxgl-ctrl-group {
  outline: none;
  /* border: none; */
  border-radius: 3px;
}

.base-font-size {
  font-size: 0.88rem;
}

#vizbox [aria-hidden] {
  display: none;
}

@import './styles/pg-button.css';
@import './styles/loading.css';
@import './styles/no-data.css';
