:root {
  --red: #c00;
  --lightgrey: #c6c6c6;
  --grey: #767676;
  --darkgrey: #333;
  --bg: #f7f7f7;
}

@import './styles/ie11.css';

#vizbox {
  margin: 0;
  padding: 0;
  position: relative;
  flex: 1 1 0;

  display: flex;
  flex-direction: column;
}

.base-font-size {
  font-size: 0.88rem;
}

#vizbox [aria-hidden='false'] {
  display: none;
}

@import './styles/loading.css';
@import './styles/message-overlay.css';
@import './styles/vega.css';
@import './styles/tooltip.css';
@import './styles/uikit.css';
@import './styles/mobile.css';

.grid-4-10 {
  grid-column: 4 / 10;
}
.grid-2-12 {
  grid-column: 2 / 12;
}
.grid-3-8 {
  grid-column: 3 / 8;
}
.grid-8-11 {
  grid-column: 8 / 11;
}
.grid-3-7 {
  grid-column: 3 / 7;
}
.grid-7-11 {
  grid-column: 7 / 11;
}
.grid-1-5 {
  grid-column: 1 / 5;
}
.grid-5-9 {
  grid-column: 5 / 9;
}
.grid-9-13 {
  grid-column: 9 / 13;
}
