name: Create Release
on:
  workflow_dispatch:
    inputs:
      versionName:
        description: 'Semantic Version Number (i.e., 5.5.0 or patch, minor, major, prepatch, preminor, premajor, prerelease)'
        required: true
        default: patch
jobs:
  create_release:
    runs-on: ubuntu-latest
    steps:
      - name: Check out code
        uses: actions/checkout@v2
        with:
          ref: main
          ssh-key: ${{ secrets.CMU_DELPHI_DEPLOY_MACHINE_SSH }}
      - name: Reset main branch
        run: |
          git fetch origin dev:dev
          git reset --hard origin/dev
      - name: Change version number
        id: version
        run: |
          echo -n "::set-output name=next_tag::"
          npm version --no-git-tag-version ${{ github.event.inputs.versionName }}
      - name: Create pull request into main
        uses: peter-evans/create-pull-request@v3
        with:
          branch: release/${{ steps.version.outputs.next_tag }}
          commit-message: 'chore: release ${{ steps.version.outputs.next_tag }}'
          base: main
          title: Release ${{ steps.version.outputs.next_tag }}
          labels: chore
          reviewers: krivard
          # assignees:
          body: |
            Releasing ${{ steps.version.outputs.next_tag }}.
      - name: Check out delphi epidata
        uses: actions/checkout@v3
        with:
          token: ${{ secrets.CMU_DELPHI_DEPLOY_MACHINE_PAT }}
          repository: cmu-delphi/delphi-epidata
          path: delphi-epidata
      - name: Copy files
        run: |
          cp src/stores/descriptions.raw.txt src/stores/questions.raw.txt \
             delphi-epidata/src/server/endpoints/covidcast_utils/
      - name: Create pull request into epidata
        uses: peter-evans/create-pull-request@v5
        with:
          path: delphi-epidata
          token: ${{ secrets.CMU_DELPHI_DEPLOY_MACHINE_PAT }}
          branch: www-covidcast-release/${{ steps.version.outputs.next_tag }}
          commit-message: 'chore: sync to www-covidcast release ${{ steps.version.outputs.next_tag }}'
          base: dev
          title: Sync to www-covidcast release ${{ steps.version.outputs.next_tag }}
          labels: chore
          reviewers: krivard
          body: |
            Syncing covidcast_utils files to www-covidcast release ${{ steps.version.outputs.next_tag }}.
